
<div class="parent">
<app-navbar/>
<div class="container">
    <br>
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    
    <div class="post">
        <strong>Farrah Pepino</strong>
        <div class="subtext">Café Hop, New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    
    
</div>
</div>

<button type="button" class="circle bt bg-white black">+</button>
