
<div class="parent">
<app-navbar/>
<div class="container">
    <br>
    <div class="post">
        <strong>{{loggedInUser.name!}}</strong>
        <div class="subtext">Café Hop</div>
        <div class="subtext">New York City</div>
        <br>
        <div>This spot is so good</div>
    </div>
    
</div>
</div>

<button type="button" class="circle bt bg-white black" (click)="viewForm()">+</button>

<div class="post-form" *ngIf="showForm">
    <div class="flex-row">
        <div>Add a review</div>
        <button type="button" class="bg-t" (click)="viewForm()">X</button>
    </div>
    <br>
    <form class="flex-col" (ngSubmit)="submitForm()" [formGroup]="postForm">
        <input required type="text" placeholder="Café name" formControlName="cafeName"/>
        <input required type="text" placeholder="Location" formControlName="location">
        <input required type="text" placeholder="Write a review" formControlName="content">
        <button [disabled]="postForm.invalid" type="submit">Post</button>
        <!-- ratings here -->
    </form>

</div>