<form (ngSubmit)="submitForm()" [formGroup]="registerForm">
    <input required type="text" placeholder="Name" formControlName="name">
    <input required type="email" placeholder="Email" formControlName="email" />
    <input required type="password" placeholder="Password" formControlName="password" /> 
    <p class="subtext red">Password must match.</p>
    <input required type="password" placeholder="Confirm password" formControlName="confirmPassword" >
    <button type="submit" [disabled]="registerForm.invalid">sign up</button>
</form>
