.bt{
    padding: 0;
    padding-left: 8px;
    text-decoration: underline;
}

form{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 25vw;
}

@media (max-width: 830px){
    form{
        width: 85vw;
        justify-content: center;
    }
    
    p{
        display: flex;
        justify-content: center;
    }
}